<div>
  <h2 id="page-heading" data-cy="PatienHeading">
    <span jhiTranslate="gesthopitalGatewayApp.patien.home.title">Patiens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gesthopitalGatewayApp.patien.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-patien"
        [routerLink]="['/patien/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gesthopitalGatewayApp.patien.home.createLabel"> Create a new Patien </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="patiens?.length === 0">
    <span jhiTranslate="gesthopitalGatewayApp.patien.home.notFound">No patiens found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="patiens && patiens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomCompletPat">
            <span jhiTranslate="gesthopitalGatewayApp.patien.nomCompletPat">Nom Complet Pat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="emailPat">
            <span jhiTranslate="gesthopitalGatewayApp.patien.emailPat">Email Pat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telephonePat">
            <span jhiTranslate="gesthopitalGatewayApp.patien.telephonePat">Telephone Pat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adressePat">
            <span jhiTranslate="gesthopitalGatewayApp.patien.adressePat">Adresse Pat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateNaissancePat">
            <span jhiTranslate="gesthopitalGatewayApp.patien.dateNaissancePat">Date Naissance Pat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patien of patiens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/patien', patien.id, 'view']">{{ patien.id }}</a>
          </td>
          <td>{{ patien.nomCompletPat }}</td>
          <td>{{ patien.emailPat }}</td>
          <td>{{ patien.telephonePat }}</td>
          <td>{{ patien.adressePat }}</td>
          <td>{{ patien.dateNaissancePat | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/patien', patien.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/patien', patien.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(patien)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="patiens && patiens.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
