<div>
  <h2 id="page-heading" data-cy="MedecinHeading">
    <span jhiTranslate="gesthopitalGatewayApp.medecin.home.title">Medecins</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gesthopitalGatewayApp.medecin.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-medecin"
        [routerLink]="['/medecin/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gesthopitalGatewayApp.medecin.home.createLabel"> Create a new Medecin </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="medecins?.length === 0">
    <span jhiTranslate="gesthopitalGatewayApp.medecin.home.notFound">No medecins found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="medecins && medecins.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomCompletMed">
            <span jhiTranslate="gesthopitalGatewayApp.medecin.nomCompletMed">Nom Complet Med</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="emailMed">
            <span jhiTranslate="gesthopitalGatewayApp.medecin.emailMed">Email Med</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telephoneMed">
            <span jhiTranslate="gesthopitalGatewayApp.medecin.telephoneMed">Telephone Med</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresseMed">
            <span jhiTranslate="gesthopitalGatewayApp.medecin.adresseMed">Adresse Med</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateNaissancePat">
            <span jhiTranslate="gesthopitalGatewayApp.medecin.dateNaissancePat">Date Naissance Pat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medecin of medecins; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/medecin', medecin.id, 'view']">{{ medecin.id }}</a>
          </td>
          <td>{{ medecin.nomCompletMed }}</td>
          <td>{{ medecin.emailMed }}</td>
          <td>{{ medecin.telephoneMed }}</td>
          <td>{{ medecin.adresseMed }}</td>
          <td>{{ medecin.dateNaissancePat | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/medecin', medecin.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/medecin', medecin.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(medecin)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="medecins && medecins.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
