<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="patien">
      <h2 data-cy="patienDetailsHeading"><span jhiTranslate="gesthopitalGatewayApp.patien.detail.title">Patien</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ patien.id }}</span>
        </dd>
        <dt><span jhiTranslate="gesthopitalGatewayApp.patien.nomCompletPat">Nom Complet Pat</span></dt>
        <dd>
          <span>{{ patien.nomCompletPat }}</span>
        </dd>
        <dt><span jhiTranslate="gesthopitalGatewayApp.patien.emailPat">Email Pat</span></dt>
        <dd>
          <span>{{ patien.emailPat }}</span>
        </dd>
        <dt><span jhiTranslate="gesthopitalGatewayApp.patien.telephonePat">Telephone Pat</span></dt>
        <dd>
          <span>{{ patien.telephonePat }}</span>
        </dd>
        <dt><span jhiTranslate="gesthopitalGatewayApp.patien.adressePat">Adresse Pat</span></dt>
        <dd>
          <span>{{ patien.adressePat }}</span>
        </dd>
        <dt><span jhiTranslate="gesthopitalGatewayApp.patien.dateNaissancePat">Date Naissance Pat</span></dt>
        <dd>
          <span>{{ patien.dateNaissancePat | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gesthopitalGatewayApp.patien.medecin">Medecin</span></dt>
        <dd>
          <span *ngFor="let medecin of patien.medecins; let last = last">
            <a [routerLink]="['/medecin', medecin?.id, 'view']">{{ medecin.nomCompletMed }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/patien', patien.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
