<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-patien-heading" data-cy="PatienCreateUpdateHeading" jhiTranslate="gesthopitalGatewayApp.patien.home.createOrEditLabel">
        Create or edit a Patien
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gesthopitalGatewayApp.patien.nomCompletPat" for="field_nomCompletPat"
            >Nom Complet Pat</label
          >
          <input
            type="text"
            class="form-control"
            name="nomCompletPat"
            id="field_nomCompletPat"
            data-cy="nomCompletPat"
            formControlName="nomCompletPat"
          />
          <div
            *ngIf="
              editForm.get('nomCompletPat')!.invalid && (editForm.get('nomCompletPat')!.dirty || editForm.get('nomCompletPat')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomCompletPat')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gesthopitalGatewayApp.patien.emailPat" for="field_emailPat">Email Pat</label>
          <input type="text" class="form-control" name="emailPat" id="field_emailPat" data-cy="emailPat" formControlName="emailPat" />
          <div *ngIf="editForm.get('emailPat')!.invalid && (editForm.get('emailPat')!.dirty || editForm.get('emailPat')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('emailPat')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gesthopitalGatewayApp.patien.telephonePat" for="field_telephonePat"
            >Telephone Pat</label
          >
          <input
            type="text"
            class="form-control"
            name="telephonePat"
            id="field_telephonePat"
            data-cy="telephonePat"
            formControlName="telephonePat"
          />
          <div
            *ngIf="editForm.get('telephonePat')!.invalid && (editForm.get('telephonePat')!.dirty || editForm.get('telephonePat')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telephonePat')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gesthopitalGatewayApp.patien.adressePat" for="field_adressePat"
            >Adresse Pat</label
          >
          <input
            type="text"
            class="form-control"
            name="adressePat"
            id="field_adressePat"
            data-cy="adressePat"
            formControlName="adressePat"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gesthopitalGatewayApp.patien.dateNaissancePat" for="field_dateNaissancePat"
            >Date Naissance Pat</label
          >
          <div class="input-group">
            <input
              id="field_dateNaissancePat"
              data-cy="dateNaissancePat"
              type="text"
              class="form-control"
              name="dateNaissancePat"
              ngbDatepicker
              #dateNaissancePatDp="ngbDatepicker"
              formControlName="dateNaissancePat"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateNaissancePatDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('dateNaissancePat')!.invalid &&
              (editForm.get('dateNaissancePat')!.dirty || editForm.get('dateNaissancePat')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateNaissancePat')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label jhiTranslate="gesthopitalGatewayApp.patien.medecin" for="field_medecins">Medecin</label>
          <select class="form-control" id="field_medecins" data-cy="medecin" multiple name="medecins" formControlName="medecins">
            <option
              [ngValue]="getSelectedMedecin(medecinOption, editForm.get('medecins')!.value)"
              *ngFor="let medecinOption of medecinsSharedCollection; trackBy: trackMedecinById"
            >
              {{ medecinOption.nomCompletMed }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
