<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="medecin">
      <h2 data-cy="medecinDetailsHeading"><span jhiTranslate="gesthopitalGatewayApp.medecin.detail.title">Medecin</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ medecin.id }}</span>
        </dd>
        <dt><span jhiTranslate="gesthopitalGatewayApp.medecin.nomCompletMed">Nom Complet Med</span></dt>
        <dd>
          <span>{{ medecin.nomCompletMed }}</span>
        </dd>
        <dt><span jhiTranslate="gesthopitalGatewayApp.medecin.emailMed">Email Med</span></dt>
        <dd>
          <span>{{ medecin.emailMed }}</span>
        </dd>
        <dt><span jhiTranslate="gesthopitalGatewayApp.medecin.telephoneMed">Telephone Med</span></dt>
        <dd>
          <span>{{ medecin.telephoneMed }}</span>
        </dd>
        <dt><span jhiTranslate="gesthopitalGatewayApp.medecin.adresseMed">Adresse Med</span></dt>
        <dd>
          <span>{{ medecin.adresseMed }}</span>
        </dd>
        <dt><span jhiTranslate="gesthopitalGatewayApp.medecin.dateNaissancePat">Date Naissance Pat</span></dt>
        <dd>
          <span>{{ medecin.dateNaissancePat | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/medecin', medecin.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
