<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-medecin-heading" data-cy="MedecinCreateUpdateHeading" jhiTranslate="gesthopitalGatewayApp.medecin.home.createOrEditLabel">
        Create or edit a Medecin
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gesthopitalGatewayApp.medecin.nomCompletMed" for="field_nomCompletMed"
            >Nom Complet Med</label
          >
          <input
            type="text"
            class="form-control"
            name="nomCompletMed"
            id="field_nomCompletMed"
            data-cy="nomCompletMed"
            formControlName="nomCompletMed"
          />
          <div
            *ngIf="
              editForm.get('nomCompletMed')!.invalid && (editForm.get('nomCompletMed')!.dirty || editForm.get('nomCompletMed')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomCompletMed')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gesthopitalGatewayApp.medecin.emailMed" for="field_emailMed">Email Med</label>
          <input type="text" class="form-control" name="emailMed" id="field_emailMed" data-cy="emailMed" formControlName="emailMed" />
          <div *ngIf="editForm.get('emailMed')!.invalid && (editForm.get('emailMed')!.dirty || editForm.get('emailMed')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('emailMed')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gesthopitalGatewayApp.medecin.telephoneMed" for="field_telephoneMed"
            >Telephone Med</label
          >
          <input
            type="text"
            class="form-control"
            name="telephoneMed"
            id="field_telephoneMed"
            data-cy="telephoneMed"
            formControlName="telephoneMed"
          />
          <div
            *ngIf="editForm.get('telephoneMed')!.invalid && (editForm.get('telephoneMed')!.dirty || editForm.get('telephoneMed')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telephoneMed')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gesthopitalGatewayApp.medecin.adresseMed" for="field_adresseMed"
            >Adresse Med</label
          >
          <input
            type="text"
            class="form-control"
            name="adresseMed"
            id="field_adresseMed"
            data-cy="adresseMed"
            formControlName="adresseMed"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gesthopitalGatewayApp.medecin.dateNaissancePat" for="field_dateNaissancePat"
            >Date Naissance Pat</label
          >
          <div class="input-group">
            <input
              id="field_dateNaissancePat"
              data-cy="dateNaissancePat"
              type="text"
              class="form-control"
              name="dateNaissancePat"
              ngbDatepicker
              #dateNaissancePatDp="ngbDatepicker"
              formControlName="dateNaissancePat"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateNaissancePatDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('dateNaissancePat')!.invalid &&
              (editForm.get('dateNaissancePat')!.dirty || editForm.get('dateNaissancePat')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateNaissancePat')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
